
@using FES.AusleihSystem.Models

@model FES.AusleihSystem.Models.GeraeteReservierungModel


        <h2>Reservierungen</h2>

        <div style="width: 150px">
            <form asp-controller="Ausleih" asp-action="ReservierungAnlegen" method="post">
                <div>
                    <div>
                        @*<select id="KategorieSelect" name="Kategorie" asp-for="Kategorie" 
                                asp-items='new SelectList(Model.KategorieList,"ID","Name")' form="form-control"  onchange="Change(this);">
                            </select>*@
                        @Html.DropDownList("Kategorie",new SelectList(Model.KategorieList, "ID", "Name"))
                    </div>
                    <table border="0">
                        <tr style="height: 50px">
                            <td>
                                <div class="form-group">
                                    <label asp-for="GeraeteEan"></label>
                                    <input asp-for="GeraeteEan" class="form-control" />
                                </div>
                            </td>
                        </tr>
                        <tr style="height: 50px">
                            <td>
                                <div style="width: 150px" class="form-group">
                                    <label asp-for="ReservierungsBeginnZeit"></label>
                                    <input asp-for="ReservierungsBeginnZeit" class="form-control" />
                                    <span asp-validation-for="ReservierungsBeginnZeit" class="text-danger"></span>
                                </div>
                            </td>
                            <td>
                                <div style="width: 150px" class="form-group">
                                    <label asp-for="ReservierungsEndeZeit">Reservierung</label>
                                    <input asp-for="ReservierungsEndeZeit" class="form-control" />
                                    <span asp-validation-for="ReservierungsEnde" class="text-danger"></span>
                                </div>
                            </td>
                        </tr>
                        <tr style="height: 50px">
                            <td>
                                <div style="width: 150px" class="form-group">
                                    <label asp-for="ReservierungsBeginn"></label>
                                    <input asp-for="ReservierungsBeginn" class="form-control" />
                                    <span asp-validation-for="ReservierungsBeginn" class="text-danger"></span>
                                </div>
                            </td>
                            <td>
                                <div style="width: 150px" class="form-group">
                                    <label asp-for="ReservierungsEnde"></label>
                                    <input asp-for="ReservierungsEnde" class="form-control" />
                                    <span asp-validation-for="ReservierungsEnde" class="text-danger"></span>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div style="height: 400px" class="form-group">
                                    <button style="width: 100px" class="form-control" type="submit">Reservieren</button>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <span>
                        <table border="0" id="Products">
                            <thead>
                                <tr>
                                    <th>Artikel Nummer</th>
                                    <th>Ger&auml;te-Name</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </span>
                </div>
            </form>
        </div>


    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")

@*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
<script type="text/javascript">
    $(document).ready(function () {
        $('#Kategorie').change(function () {
            $("#Products tbody tr").remove();
            $.ajax({
                type: 'POST',
                url: '@Url.Action("GerateTabelleReloadJson")',
                dataType: 'json',
                data: { id: $('#Kategorie').val() },
                success: function (data) {
                  //  alert(data.val().ID),
                    var items = '';
                    $.each(data, function (i,item) {
                        var rows = "<tr>"
                            + "<td>" + item.ean + "</td>"
                            + "<td>" + item.name + "</td>"
                            + "</tr>";
                        $('#Products tbody').append(rows);

                    });

                },
                error: function (ex) {
                    var r = JQuery.parseJSON(respone.responeText);
                    alert("Message: " + r.Message);

                }

            });
            return false;

        })

    });
</script>
        }
