@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@using FES.AusleihSystem.ViewModels;
@model LoginViewModel



<div class="row">
    <div class="col-md-4">
        <section>
            <form asp-controller="Account" asp-action="Login" method="post">
                <h4>Bitte einloggen.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Passwort"></label>
                    <input asp-for="Passwort" class="form-control" />
                    <span asp-validation-for="Passwort" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Log in</button>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
