@model FES.AusleihSystem.ViewModels.PasswordResetViewModel

<div class="row">
    <div class="row">
        <div class="col-md-4">
            <form asp-controller="Account" asp-action="ResetPassword" method="post">
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Passwort"></label>
                    <input asp-for="Passwort" class="form-control" />
                    <span asp-validation-for="Passwort" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ConfPasswort"></label>
                    <input asp-for="ConfPasswort" class="form-control" />
                    <span asp-validation-for="ConfPasswort" class="text-danger"></span>
                </div>
                <div>
                    <button type="submit" asp-controler class="btn btn-default">Ändern</button>
                </div>
            </form>
        </div>
    </div>
</div>